html(lang="en-us")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE-edge")
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1.0")
    meta(name="description", content= description)
    link(rel='stylesheet', href=`style/demo${(deploy) ? '.min' : ''}.css`)
    link(rel='stylesheet', href=`style/whirl${(deploy) ? '.min' : ''}.css`)
  body
    h1 whirl
    h2= `${Object.keys(whirls).length} whirls and counting...`
    .whirl-container
    select
      optgroup(label='--- Pseudo element ---')
        each val, index in whirls
          if val.requiredElements == 0
            - var label = index.replace(new RegExp('-', 'g'), ' ')
            option(value= index, data-required-el= val.requiredElements)= `${label.charAt(0).toUpperCase() + label.slice(1)}`
      optgroup(label='--- Single element ---')
        each val, index in whirls
          if val.requiredElements == 1
            - var label = index.replace(new RegExp('-', 'g'), ' ')
            option(value= index, data-required-el= val.requiredElements)= `${label.charAt(0).toUpperCase() + label.slice(1)}`
      optgroup(label='--- Multi element ---')
        each val, index in whirls
          if val.requiredElements > 1
            - var label = index.replace(new RegExp('-', 'g'), ' ')
            option(value= index, data-required-el= val.requiredElements)= `${label.charAt(0).toUpperCase() + label.slice(1)}`
    script(src=`script/demo${(deploy) ? '.min' : ''}.js`)
